.container {
    width: 100%;
}

.tab-area {
    width: 500;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}

.tab-class {
    width: calc(100%/3);
    height: 50px;
    background-color: darkorange;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    transition: background-color .5s;
}

.tab-class:hover {
    opacity: .75;
}

input[name="tab_name"] {
    display: none;
}

input:checked + .tab-class {
    background-color:crimson;
    color: azure;
}

.content-class {
    display: none;
    width: 100%;
}

input:checked + .tab-class + .content-class {
    display: block;
}